body {
    background-image: url(../../assets/images/11013402425_6792896fd6_b.jpg);
    min-width: 600px;
}

.card {
    border-width:3px !important;
}
th {
    font-weight: 500;
}

h1 {
    font-family: 'Limelight', cursive;
    text-shadow: 1px 2px 1px #ffc613;
}

#remove {
    font-size: 9px;
}
